:root {
  --prime-color: #2D2B5C;
  --title-color: #1A1930;
  --button-bgc: #6259EA;
  --button-color: #fff;
  --more-before: #7a1f1f;
  --second-bgc: #E7E5FF;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

textarea {
  resize: none;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--prime-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

.section {
  padding: 30px 0;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.more::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: var(--more-before);
}

.title {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 1.1;
}

.pre-title {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.1;
}

.line-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--second-bgc);
}

.btn,
.btn-link {
  display: block;
  color: var(--button-color);
  padding: 8px 16px;
  background: var(--button-bgc);
  border-radius: 5px;
  border: solid 2px var(--button-bgc);
  cursor: pointer;
  -webkit-transition: 250ms linear, -webkit-transform 500ms ease-in-out 500ms;
  transition: 250ms linear, -webkit-transform 500ms ease-in-out 500ms;
  transition: 250ms linear, transform 500ms ease-in-out 500ms;
  transition: 250ms linear, transform 500ms ease-in-out 500ms, -webkit-transform 500ms ease-in-out 500ms;
}

.btn-link:hover,
.btn-link:focus {
  background-color: var(--second-bgc);
  color: var(--title-color);
}

.btn {
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: var(--second-bgc);
  color: var(--title-color);
}

.btn:hover,
.btn:focus {
  border: solid 2px var(--button-bgc);
  color: var(--button-color);
  background: var(--button-bgc);
}

.link-focus {
  position: relative;
}

.link-focus::before {
  display: inline-block;
  content: "";
  width: 130%;
  height: 3px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(-12%, 0);
          transform: translate(-12%, 0);
  -webkit-transition: 250ms linear, -webkit-transform 500ms ease-in-out 500ms;
  transition: 250ms linear, -webkit-transform 500ms ease-in-out 500ms;
  transition: 250ms linear, transform 500ms ease-in-out 500ms;
  transition: 250ms linear, transform 500ms ease-in-out 500ms, -webkit-transform 500ms ease-in-out 500ms;
}

.link-focus:focus:before,
.link-focus:hover:before {
  display: inline-block;
  content: "";
  width: 130%;
  height: 3px;
  background-color: var(--title-color);
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(-12%, 0);
          transform: translate(-12%, 0);
  -webkit-transition: 250ms linear, -webkit-transform 500ms ease-in-out 500ms;
  transition: 250ms linear, -webkit-transform 500ms ease-in-out 500ms;
  transition: 250ms linear, transform 500ms ease-in-out 500ms;
  transition: 250ms linear, transform 500ms ease-in-out 500ms, -webkit-transform 500ms ease-in-out 500ms;
}

.link-focus-footer {
  position: relative;
  padding-bottom: 10px;
}

.link-focus-footer::before {
  display: inline-block;
  content: "";
  width: 130%;
  height: 3px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(-12%, 0);
          transform: translate(-12%, 0);
  -webkit-transition: 250ms linear, -webkit-transform 500ms ease-in-out 500ms;
  transition: 250ms linear, -webkit-transform 500ms ease-in-out 500ms;
  transition: 250ms linear, transform 500ms ease-in-out 500ms;
  transition: 250ms linear, transform 500ms ease-in-out 500ms, -webkit-transform 500ms ease-in-out 500ms;
}

.link-focus-footer:focus:before,
.link-focus-footer:hover:before {
  display: inline-block;
  content: "";
  width: 130%;
  height: 3px;
  background-color: var(--button-color);
  position: absolute;
  bottom: 0;
  -webkit-transform: translate(-12%, 0);
          transform: translate(-12%, 0);
  -webkit-transition: 250ms linear, -webkit-transform 500ms ease-in-out 500ms;
  transition: 250ms linear, -webkit-transform 500ms ease-in-out 500ms;
  transition: 250ms linear, transform 500ms ease-in-out 500ms;
  transition: 250ms linear, transform 500ms ease-in-out 500ms, -webkit-transform 500ms ease-in-out 500ms;
}

.page-header {
  padding-top: 10px;
  padding-bottom: 0px;
}

.header-logo {
  width: 110px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  display: none;
}

.menu-icon {
  display: block;
  margin-left: auto;
  fill: var(--title-color);
  margin-bottom: 20px;
}

.hero {
  padding-bottom: 20px;
}

.hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 480px;
  height: 100vh;
}
.hero-wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../img/background/spun.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 100px;
}

.hero-desc {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.social-hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-hero {
  text-align: center;
  margin-bottom: 20px;
}

.hero-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: var(--title-color);
}

.hero-link {
  color: var(--title-color);
}

.social-item {
  fill: currentColor;
  width: 25px;
  height: 25px;
}

.logo-section {
  padding: 20px 0;
  background-color: var(--second-bgc);
}

.logo-bgc {
  position: relative;
  background-color: var(--second-bgc);
}

.logo-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  gap: 20px;
}

.logo-item {
  width: calc((100% - 90px) / 4);
}

.numbers-lists {
  position: relative;
  overflow: visible;
}
.numbers-lists::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../img/background/in-numbers.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

.numbers-item:not(:last-of-type) {
  margin-bottom: 40px;
}

.numb-title {
  margin-bottom: 10px;
}

.numb-desc {
  margin-bottom: 10px;
}

.number {
  font-weight: 800;
  font-size: 50px;
}

.team-card {
  width: 100%;
}/*# sourceMappingURL=main.css.map */