:root {
  --prime-color: #2D2B5C;
  --title-color: #1A1930;
  --button-bgc: #6259EA;
  --button-color: #fff;
  --more-before: #7a1f1f;
  --second-bgc: #E7E5FF;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

textarea {
  resize: none;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

@media screen and (min-width: 1200px) {
  .slider .slick-list {
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .slider .slick-list {
    width: calc(100% + 30px);
    margin: 0 auto;
    margin-left: -15px;
  }
}

.slider {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.slider .slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 22;
  font-size: 0;
  width: 90px;
  height: 90px;
  padding: 0;
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 1200px) {
  .slider .slick-arrow {
    display: none;
  }
}

.slider .slick-arrow.slick-prev {
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: url(../img/prev.svg);
  background-size: contain;
}

.slider .slick-arrow.slick-next {
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-image: url(../img/next.svg);
  background-size: contain;
}

.slider-press .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.slider-press .slick-list {
  overflow: hidden;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 15px;
  list-style: none;
}

.slick-dots li.slick-active button {
  background-color: #777777;
}

.slider-press .slick-dots button {
  border-radius: 50px;
  font-size: 0;
  width: 15px;
  height: 15px;
  border: none;
  background-color: #cacaca;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--prime-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

.section {
  padding: 40px 0;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.more::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: var(--more-before);
}

.title {
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 1.1;
}

.pre-title {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.1;
}

.line-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--second-bgc);
}
@media screen and (max-width: 767px) {
  .line {
    display: none;
  }
}

.btn,
.btn-link {
  display: block;
  height: 45px;
  color: var(--button-color);
  padding: 8px 16px;
  background: var(--button-bgc);
  border-radius: 5px;
  border: solid 2px var(--button-bgc);
  cursor: pointer;
  text-align: center;
  -webkit-transition: 250ms linear, -webkit-transform 500ms ease-in-out 500ms;
  transition: 250ms linear, -webkit-transform 500ms ease-in-out 500ms;
  transition: 250ms linear, transform 500ms ease-in-out 500ms;
  transition: 250ms linear, transform 500ms ease-in-out 500ms, -webkit-transform 500ms ease-in-out 500ms;
}

.btn-link:hover,
.btn-link:focus {
  background-color: var(--second-bgc);
  color: var(--title-color);
}

.btn {
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: var(--second-bgc);
  color: var(--title-color);
}

.btn:hover,
.btn:focus {
  border: solid 2px var(--button-bgc);
  color: var(--button-color);
  background: var(--button-bgc);
}

.page-header {
  padding-top: 10px;
  padding-bottom: 0px;
}

.header-logo {
  width: 110px;
  margin-right: 20px;
}

.header-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-menu {
  border: none;
  background-color: transparent;
  position: absolute;
  top: -10px;
  right: 0;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px 40px 80px 40px;
    margin-top: -10px;
    background-color: #fff;
    -webkit-transform: translatex(100%);
            transform: translatex(100%);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
}

.link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .link-wrap {
    margin-bottom: 40px;
    width: 260px;
  }
}

.nav-link {
  font-size: 18px;
  line-height: 1.4;
  color: var(--title-color);
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 480px) {
  .nav-link {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .nav-link {
    width: calc((100% - 30px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .nav.is-open {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

.open {
  opacity: 1;
}

.close {
  opacity: 0;
}

.nav.is-open + .menu-open .menu-icon .open {
  opacity: 0;
}

.nav.is-open ~ .menu-close .menu-icon .close {
  opacity: 1;
}

.menu-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 110px;
}

.menu-icon {
  display: block;
  margin-left: auto;
  fill: var(--title-color);
  margin-bottom: 20px;
}

.hero {
  padding-bottom: 20px;
}

.hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  height: 100vh;
  overflow: hidden;
}
.hero-wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../img/background/spun.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .hero-wrap::after {
    background-size: 60%;
    background-position: right top;
  }
}

.hero-title {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
}

.hero-desc {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.social-hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-hero {
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .btn-hero {
    width: 250px;
  }
}

.hero-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: var(--title-color);
}

.hero-link {
  color: var(--title-color);
}

.social-item {
  fill: currentColor;
  width: 25px;
  height: 25px;
}

.logo-section {
  padding: 20px 0;
  background-color: var(--second-bgc);
}

.logo-bgc {
  position: relative;
  background-color: var(--second-bgc);
}

.logo-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .logo-lists {
    gap: 100px;
  }
}

.logo-item {
  width: calc((100% - 90px) / 4);
}
@media screen and (min-width: 768px) {
  .logo-item {
    width: calc((100% - 300px) / 4);
  }
}

.numbers-lists {
  position: relative;
}
.numbers-lists::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -90px;
  left: 0;
  z-index: -1;
  background-image: url(../img/background/in-numbers.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.numbers-item:not(:last-of-type) {
  margin-bottom: 40px;
}

.numb-title {
  margin-bottom: 10px;
}

.numb-desc {
  margin-bottom: 10px;
}

.number {
  font-weight: 800;
  font-size: 50px;
}

.features-wrap {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.features-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.features-simple {
  position: relative;
}
.features-simple::after {
  content: "";
  width: 250px;
  height: 250px;
  position: absolute;
  top: 30%;
  right: 0;
  z-index: -1;
  background-image: url(../img/background/features-1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .features-simple::after {
    top: 10%;
    left: 0;
  }
}

.features-customizable {
  position: relative;
}
.features-customizable::after {
  content: "";
  width: 250px;
  height: 250px;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  background-image: url(../img/background/features-2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.features-stylish {
  position: relative;
}
.features-stylish::before {
  content: "";
  width: 250px;
  height: 250px;
  position: absolute;
  top: 25%;
  right: 0;
  z-index: -1;
  background-image: url(../img/background/features-3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.features-card {
  padding: 25px 15px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #fbfbff;
  -webkit-box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
          box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .features-card {
    width: calc((100% - 20px) / 2);
  }
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.features-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.features-desc {
  font-size: 20px;
  margin-bottom: 20px;
}

.features-icon {
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

.vidio-wrap {
  margin-bottom: 25px;
}

.video-title {
  min-width: 255px;
  font-size: 30px;
  line-height: 1.1;
}

.video-iframe {
  width: 100%;
  height: 60vh;
}

.technologies-list {
  position: relative;
  top: 0;
  left: 0;
}
.technologies-list::before {
  content: "";
  width: 250px;
  height: 250px;
  position: absolute;
  top: -7%;
  left: 0;
  z-index: -1;
  background-image: url(../img/background/technologies-1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 480px) {
  .technologies-list::before {
    top: -4%;
    left: 45%;
  }
}
@media screen and (min-width: 768px) {
  .technologies-list::before {
    top: 12%;
    left: 40%;
    width: 300px;
    height: 300px;
  }
}
.technologies-list::after {
  content: "";
  width: 250px;
  height: 250px;
  position: absolute;
  top: 47%;
  left: 0;
  z-index: -1;
  background-image: url(../img/background/technologies-2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 480px) {
  .technologies-list::after {
    top: 43%;
    left: 46%;
  }
}
@media screen and (min-width: 768px) {
  .technologies-list::after {
    top: 65%;
    left: 0;
    width: 300px;
    height: 300px;
  }
}

.technologies-item:not(:last-child) {
  margin-bottom: 50px;
}

.technologies-item:nth-child(2n+1) {
  margin-bottom: 20px;
}

.technologies-title {
  font-size: 30px;
}
@media screen and (min-width: 480px) {
  .technologies-title {
    width: 480px;
  }
}

.technologies-desc {
  margin-bottom: 15px;
}

.price-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.basic-item,
.pro-item {
  padding: 20px 15px;
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
          box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
  border-radius: 10px;
}

.price-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .price-item {
    width: calc((100% - 20px) / 2);
  }
}

.basic-item {
  position: relative;
}
.basic-item::before {
  position: absolute;
  top: -50px;
  left: -20px;
  content: "";
  width: 200px;
  height: 200px;
  z-index: -1;
  background-image: url(../img/background/Price-1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.pro-item {
  position: relative;
}
.pro-item::before {
  position: absolute;
  bottom: 50px;
  right: -15px;
  content: "";
  width: 200px;
  height: 200px;
  z-index: -1;
  background-image: url(../img/background/Price-2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.price-title {
  margin-bottom: 30px;
  font-size: 25px;
}

.price-befor {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price-befor::before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/chek.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.price-befor:last-of-type {
  margin-bottom: 30px;
}

.coast {
  font-size: 18px;
  color: #abaabb;
}

.price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mouth {
  font-size: 60px;
}

.pro-item {
  position: relative;
}

.best-price {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: var(--second-bgc);
}

.team-section {
  overflow: hidden;
}

.wrap-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.team-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-btn {
  min-width: 170px;
}

.team-btn-item:not(:last-of-type) {
  margin-bottom: 8px;
}

.team-card {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-card {
    height: 380px;
  }
}
@media screen and (min-width: 1200px) {
  .team-card {
    min-height: 342px;
  }
}
.team-card img {
  margin-bottom: 16px;
}

.title-card {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
}

.faq-container {
  position: relative;
}
.faq-container::before {
  display: block;
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: -5%;
  right: 0;
  z-index: -1;
  background-image: url(../../img/background/faq.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .faq-container::before {
    width: 400px;
    height: 400px;
    top: -37%;
  }
}

.faq-item {
  padding: 20px 0;
}
.faq-item:not(:last-child) {
  border-bottom: 1px solid var(--second-bgc);
}

.desc-faq {
  position: relative;
  font-size: 25px;
  line-height: 1.14;
  padding-left: 30px;
}
.desc-faq::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url(../img/dowland.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.press-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.btn-press {
  min-width: 125px;
}

.press-title {
  margin-bottom: 0;
}

.wrap-press-descr {
  padding: 10px 15px;
}

.recommended {
  display: inline-block;
  margin-bottom: 15px;
  background-color: var(--second-bgc);
  padding: 5px 15px;
}

.second-press-title {
  margin-bottom: 20px;
}

.contact-line-wrap {
  margin-bottom: 20px;
}

.contact-title {
  min-width: 230px;
  margin-bottom: 0;
}

.contact-wrap {
  position: relative;
}
.contact-wrap::before {
  content: "";
  position: absolute;
  top: -100px;
  left: -15px;
  z-index: -1;
  width: 250px;
  height: 250px;
  background-image: url(../img/background/Price-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.contact-wrap::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -15px;
  z-index: -1;
  width: 250px;
  height: 250px;
  background-image: url(../img/background/Price-2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .contact-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-dsc-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 40%;
  margin-right: 50px;
}
.contact-dsc-wrap::before {
  content: "*";
  position: absolute;
  bottom: 150px;
  left: -10px;
}
@media screen and (max-width: 767px) {
  .contact-dsc-wrap {
    display: none;
  }
}

.contact-desc {
  margin-bottom: 20px;
}

.contact-post-desc {
  line-height: 1.4;
  color: #ABAABB;
}
@media screen and (max-width: 767px) {
  .contact-post-desc {
    display: none;
  }
}

.contact-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  line-height: 1.4;
}

.contact-input {
  margin-top: 10px;
  height: 50px;
  padding-left: 15px;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
          box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
  border-radius: 8px;
}
.contact-input::-webkit-input-placeholder {
  line-height: 1.4;
  color: #c1c1c1;
}
.contact-input::-moz-placeholder {
  line-height: 1.4;
  color: #c1c1c1;
}
.contact-input:-ms-input-placeholder {
  line-height: 1.4;
  color: #c1c1c1;
}
.contact-input::-ms-input-placeholder {
  line-height: 1.4;
  color: #c1c1c1;
}
.contact-input::placeholder {
  line-height: 1.4;
  color: #c1c1c1;
}

.contact-texarea {
  margin-top: 10px;
  height: 100px;
  padding: 15px 15px;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
          box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
  border-radius: 8px;
}
.contact-texarea::-webkit-input-placeholder {
  line-height: 1.4;
  color: #c1c1c1;
}
.contact-texarea::-moz-placeholder {
  line-height: 1.4;
  color: #c1c1c1;
}
.contact-texarea:-ms-input-placeholder {
  line-height: 1.4;
  color: #c1c1c1;
}
.contact-texarea::-ms-input-placeholder {
  line-height: 1.4;
  color: #c1c1c1;
}
.contact-texarea::placeholder {
  line-height: 1.4;
  color: #c1c1c1;
}

.btn-form {
  width: 100%;
}

.wrap-social {
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .wrap-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.media-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.media-item {
  width: calc((100% - 60px) / 5);
}
@media screen and (max-width: 767px) {
  .media-item {
    width: calc((100% - 15px) / 2);
  }
}

.footer {
  position: relative;
  background-color: var(--title-color);
}
@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer::after {
    content: "";
    width: 300px;
    height: 350px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../../img/background/spun-footer.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .wraper-footer {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .wraper-footer {
    margin-right: 120px;
  }
}

.footer-logo {
  width: 110px;
}
@media screen and (max-width: 767px) {
  .footer-logo {
    margin: 0 auto 20px auto;
  }
}
@media screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 40px;
  }
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-style: normal;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .address {
    margin-bottom: 120px;
  }
}

.address-item {
  color: var(--button-color);
}

.wrap-footer {
  color: var(--button-color);
}
@media screen and (max-width: 767px) {
  .wrap-footer {
    margin-bottom: 20px;
  }
}

.footer-lists {
  border-top: solid 2px var(--second-bgc);
  border-bottom: solid 2px var(--second-bgc);
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .not-mobile {
    display: none;
  }
}

.social-footer {
  padding: 40px 0;
}
@media screen and (max-width: 767px) {
  .social-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .social-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    width: 120%;
  }
}

@media screen and (max-width: 767px) {
  .footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc((100% - 10px) / 2);
  }
}

.link-focus-footer {
  color: var(--button-color);
}/*# sourceMappingURL=main.css.map */