:root {
    --prime-color: #2D2B5C;
    --title-color: #1A1930;
    --button-bgc: #6259EA;
    --button-color: #fff;
    --more-before: #EA5959;
    --second-bgc: #E7E5FF;

}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--prime-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

textarea {
    resize: none;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.list {
    list-style: none;
}

.flex {
    display: flex;
}

.btn,
.btn-link {
    display: inline-block;
    color: var(--button-color);
    padding: 18px 36px;
    background: var(--button-bgc);
    border-radius: 5px;
    border: solid 2px var(--button-bgc);
    cursor: pointer;

    transition: 250ms linear, transform 500ms ease-in-out 500ms

}

.link-focus {
    position: relative;
}

.link-focus::before {
    display: inline-block;
    content: "";
    width: 130%;
    height: 3px;
    position: absolute;
    bottom: 0;
    transform: translate(-12%, 0);
    transition: 250ms linear, transform 500ms ease-in-out 500ms
}

.link-focus:focus:before,
.link-focus:hover:before {
    display: inline-block;
    content: "";
    width: 130%;
    height: 3px;
    background-color: var(--title-color);
    position: absolute;
    bottom: 0;
    transform: translate(-12%, 0);
    transition: 250ms linear, transform 500ms ease-in-out 500ms
}

.link-focus-footer {
    position: relative;
    padding-bottom: 10px;
}

.link-focus-footer::before {
    display: inline-block;
    content: "";
    width: 130%;
    height: 3px;
    position: absolute;
    bottom: 0;
    transform: translate(-12%, 0);
    transition: 250ms linear, transform 500ms ease-in-out 500ms
}

.link-focus-footer:focus:before,
.link-focus-footer:hover:before {
    display: inline-block;
    content: "";
    width: 130%;
    height: 3px;
    background-color: var(--button-color);
    position: absolute;
    bottom: 0;
    transform: translate(-12%, 0);
    transition: 250ms linear, transform 500ms ease-in-out 500ms
}

.btn-link:hover,
.btn-link:focus {
    background-color: var(--second-bgc);
    color: var(--title-color);
}

.btn {
    border: 2px solid rgba(255, 255, 255, 0.4);
    background-color: var(--second-bgc);
    color: var(--title-color);
}

.btn:hover,
.btn:focus {
    border: solid 2px var(--button-bgc);
    color: var(--button-color);
    background: var(--button-bgc);
}

.more::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    background-color: var(--more-before);
}

.title {
    font-size: 70px;
    line-height: 1.1;
}

.line-wrap {
    display: flex;
    align-items: center;
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--second-bgc);
}

/* header */

.container-spun {
    width: 1340px;
    margin: 0 auto;
    position: relative;
}

.wrap-header {
    padding-top: 36px;
    align-items: center;
    margin-bottom: 136px;
}

.container-spun::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: -50px;
    background-image: url(../img/background/spun.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 870px;
    height: 990px;
}

.page-header>.flex {
    align-items: center;
    margin-bottom: 136px;
}

.nav {
    margin: auto;
}

.nav-link {
    color: var(--title-color);
    padding-bottom: 10px;
}

.nav-link:not(:last-child) {
    margin-right: 24px;
}

.second-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.4;
}

/* hero */
.hero-title {
    margin-bottom: 60px;

    width: 767px;
    font-size: 80px;
    line-height: 1.1;
    color: var(--title-color);
}

.hero-desc {
    margin-bottom: 52px;
}

.btn-hero {
    margin-bottom: 56px;
}

.wraper-hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 114px;
}

.hero-item:not(:last-child) {
    margin-bottom: 15px;
}

.social-item {
    fill: var(--title-color);
    width: 25px;
    height: 25px;
}

/* logo */
.section-logo {
    padding: 66px 0;
    background-color: var(--second-bgc);
    position: relative;
    z-index: -3;
}

.logo-lists {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-webflow {
    fill: var(--title-color);
    width: 140px;
    height: 35px;
}

/* in numbers */
.number-wrap {
    border-bottom: solid 2px var(--second-bgc);
    position: relative;
    z-index: 0;
}

.pre-title {
    font-size: 17px;
    line-height: 1.5;
    text-transform: uppercase;
}

.numbers-section {
    display: flex;
    justify-content: flex-end;

    padding-top: 120px;
    padding-bottom: 50px;
}

.container-bgc {
    width: 1340px;
    margin: 0 auto;
    position: relative;
}

.container-bgc::after {
    content: "";
    position: absolute;
    background-image: url(../img/background/in-numbers.png);
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-15%, -12%);
    Width: 688px;
    Height: 842px;
}

.numbers-wraper {
    position: absolute;
    top: 100px;
    left: 0;
}

.desc-wraper {
    margin-right: 143px;
    width: 383px;
}

.numbers-item .second-title {
    margin-bottom: 20px;
}

.numbers-item {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-top: solid 2px var(--second-bgc);
}

.number {
    font-size: 80px;
    line-height: 1.4;
}

/* Get to know features */

.features-section .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.features-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 167px;
}

.features-wrap .title {
    width: 553px;
}

.features-lists {
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid var(--second-bgc);
    box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
    border-radius: 10px;
    position: relative;
}

.features-lists::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 30px;
    z-index: -1;
    transform: translate(-30%);
    background-image: url(../img/background/features-1.jpg);
    Width: 235px;
    Height: 235px;
}

.features-lists::before {
    content: "";
    position: absolute;
    top: -115px;
    right: -20px;
    z-index: -1;
    background-image: url(../img/background/features-3.jpg);
    width: 420px;
    height: 420px;
}

.features-card {
    padding: 50px;
    width: 433px;
    position: relative;
}

.features-customizable::before {
    content: "";
    position: absolute;
    top: 250px;
    left: 10px;
    z-index: -1;
    background-image: url(../img/background/features-2.jpg);
    width: 317px;
    height: 317px;
}

.features-title {
    margin-bottom: 23px;

    font-weight: 400;
    font-size: 34px;
    line-height: 1.1;
    color: var(--title-color);
}

.features-desc {
    margin-bottom: 31px;
}

.features-flex {
    display: flex;
    margin-bottom: 15px;
}

.features-icon {
    fill: var(--title-color);
    width: 21px;
    height: 21px;
    margin-right: 20px;
}

.features-desc-wrap {
    width: 277px;
}

/* Watch video */
.vidio-section .container {
    padding-top: 50px;
    padding-bottom: 100px;
}

.vidio-wrap {
    margin-bottom: 40px;
}

.video-title {
    width: 473px;
}


/* technologies */
.technologies-section {
    padding-top: 100px;
}

.technologies-bgc {
    position: relative;
}

.technologies-bgc::before {
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    z-index: -1;
    background-image: url(../img/background/technologies-1.jpg);
    background-size: contain;
    width: 533px;
    height: 533px;
}

.technologies-item-second {
    position: relative;
}

.technologies-item-second::after {
    content: "";
    position: absolute;
    top: -30px;
    right: -471px;
    z-index: -1;
    background-image: url(../img/background/technologies-2.jpg);
    background-size: contain;
    width: 441px;
    height: 434px;
}

.technologies-wrap {
    margin-bottom: 50px;
}

.technologies-item {
    width: 770px;
    display: block;
    margin-left: auto;
}

.technologies-title {
    width: 600px;

    font-size: 45px;
    line-height: 1.1;
}

.tech-second-title {
    margin-bottom: 53px;

    font-size: 35px;
    line-height: 1.1;
}

.technologies-desc {
    margin-top: 19px;
    margin-bottom: 52px;
}

.list .line-wrap {
    margin: 50px 0;
}

.technologies-position-title {
    min-width: 419px;
    margin-left: 121px;
    text-align: right;
}

.technologies-item-second {
    width: 770px;
    padding-bottom: 100px;
}

/* price */
.price-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.price-bgc {
    position: relative;
    width: 1340px;
    margin: 0 auto;
}

.price-bgc::before {
    content: "";
    position: absolute;
    top: -55px;
    left: -50px;
    z-index: -1;
    background-image: url(../img/background/Price-1.jpg);
    background-size: contain;
    width: 423px;
    height: 423px;
} 

.price-bgc::after {
    content: "";
    position: absolute;
    bottom: 115px;
    right: -20px;
    z-index: -1;
    background-image: url(../img/background/Price-2.jpg);
    background-size: contain;
    width: 236px;
    height: 236px;
}

.line-wrap .title {
    width: 600px;
    margin-right: 165px;
}

.price-section .line-wrap {
    margin-bottom: 80px;
}

.price-lists {
    display: flex;
    justify-content: space-between;
}

.price-item {
    width: 640px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
    border-radius: 10px;
}

.basic-item p,
.pro-item p {
    margin-bottom: 10px;
}

.basic-item p:nth-child(6),
.pro-item p:nth-child(6) {
    margin-bottom: 50px;
}

.pro-item {
    position: relative;
}

.best-price {
    position: absolute;
    top: 32px;
    right: 32px;
    background: #E7E5FF;
    border-radius: 5px;
    padding: 6px 25px;
}

.price-title {
    margin-bottom: 45px;

    font-size: 44px;
    line-height: 1.1;
}

.price-befor::before {
    content: "";
    display: inline-flex;
    background-image: url(../img/chek.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    margin-right: 20px;
}

.price-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.coast {
    color: #ABAABB;
    font-size: 18px;
    line-height: 1.4;
}

.mouth {
    font-size: 79px;
    line-height: 1.1;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none; 
}

.backdrop.is-hidden {
    opacity: 0;
}

.backdrop {
    position: fixed;
    opacity: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    background-color: var(--second-bgc);
    border-radius: 10px;
    padding: 70px 50px;

    transform: translate(-50%, -50%);
}

.modal::after {
    content: "";
    width: 400px;
    height: 450px;
    background-image: url(../img/background/spun-footer.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 5%;
    right: -10px;
    z-index: -1;
}

.modal-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    background-color: inherit;
    color: var(--title-color);
    border-radius: 50%;
    border: solid 4px var(--title-color);
    width: 50px;
    height: 50px;

    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
}

.modal-form {

}

.desc-modal {
    font-size: 18px;
    line-height: 1.4;
    color: var(--title-color);
}

.modal-input {
    width: 50%;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
    border-radius: 8px;
}

.modal-input.second {
    width: 54%;
}

.modal-texarea {
    margin-bottom: 40px;
    
    background: rgba(255, 255, 255, 0.4);
        border: 2px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
        border-radius: 8px;
}

.modal-form .btn-link {
    display: block;
    width: 75%;
}

/* team */
.team-section {
    padding-top: 50px;
    padding-bottom: 100px;
}

.wrap-team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.team-btn {
    display: flex;
}

.team-btn>li:not(:last-child) {
    margin-right: 30px;
}

.team-card:not(:nth-child(4n + 4)) {
    margin-right: 20px;
}

.team-lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.icon-small {
    margin: auto;
    margin-right: 35px;
}


.icon-bigester {
    margin: auto;
    margin-left: 35px;
}

.team-card>img {
    border-radius: 50%;
    margin-bottom: 16px;
}

.title-card {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.1;
    color: var(--title-color);
}

.team-card>p {
    width: 220px;
}

/* faq */
.faq-section {
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 0;
}

.faq-bgc {
    position: relative;
}

.faq-bgc::after {
    content: "";
    position: absolute;
    top: -180px;
    right: -75px;
    z-index: -1;
    width: 735px;
    height: 735px;
    background-image: url(../img/background/faq.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.faq-title {
    margin-bottom: 132px;
    width: 605px;
}

.faq-item:not(:last-child) {
    border-bottom: 2px solid var(--second-bgc);
}

.faq-item {
    display: flex;
    align-items: center;
}

.faq-item::before {
    content: "";
    width: 68px;
    height: 68px;
    background-size: contain;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-image: url(../img/dowland.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.faq-lists li {
    padding: 45px;
}

.desc-faq {
    font-size: 44px;
    line-height: 1.1;
    padding-left: 45px;
}

/* social */
.people-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.people-bgc {
    position: relative;
}

.people-bgc::before {
    content: "";
    background-image: url(../img/background/people-talk-about-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 688px;
    height: 688px;
    position: absolute;
    top: -130px;
    left: -170px;
    z-index: -1;
}

.people-bgc::after {
    content: "";
    background-image: url(../img/background/people-talk-about-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 217px;
    height: 217px;
    position: absolute;
    bottom: -50px;
    right: 170px;
    z-index: -1;
}

.people-section .line-wrap {
    margin-bottom: 60px;
}

.social-reviews {
    display: flex;
    justify-content: center;
    width: 200px;
}

.reviews-cards {
    display: flex;
    justify-content: space-between;

    padding: 50px 110px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
    border-radius: 10px;
}

.reviews-img {
    margin-bottom: 30px;
    border-radius: 50%;
}

.reviews-desc {
    width: 750px;
}

.title-reviews {
    font-size: 39px;
    line-height: 1.4;
    color: var(--title-color);
}

.pre-desc-reviews {
    margin-bottom: 50px;
    color: #ABAABB;
}

.desc-reviews {
    margin-bottom: 30px;
}

.reviews-wraper {
    display: flex;
    justify-content: end;
}

.social-reviews li:not(:last-child) {
    margin-right: 20px;
}

.reviews-icon {
    fill: var(--title-color);
}

/* press */
.press-section {
    padding-top: 50px;
    padding-bottom: 100px;
}

.press-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.press-lists {
    display: flex;
    overflow: auto;
}

.press-list {
    padding: 20px 50px;
}

.press-list:first-child {
    padding-left: 0;
}

.press-list:last-child {
    padding-right: 0;
}

.press-list img {
    margin-bottom: 30px;
}

.recommended {
    display: inline-block;
    margin-bottom: 20px;
    padding: 4px 25px;
    background: var(--second-bgc);
    border-radius: 5px;
}

.press-title {
    margin-bottom: 38px;
    width: 403px;
    font-size: 35px;
    line-height: 1.2;
    color: var(--title-color);
}

/* Contact us */
.contact-section {
    padding: 50px 0;
}

.contact-bgc {
    position: relative;
}

.contact-bgc::before {
    content: "";
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: -1;
    background-image: url(../img/background/Price-1.jpg); 
    background-size: contain;
    background-repeat: no-repeat; 
    width: 423px;
    height: 423px;
}

.contact-bgc::after {
    content: "";
    position: absolute;
    top: 60px;
    right: -60px;
    z-index: -1;
    background-image: url(../img/background/Price-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 236px;
    height: 236px;
}

.contact-desc {
    margin-bottom: 19px;
}

.contact-dsc-wrap {
    position: relative;
    width: 530px;
    margin-top: auto;
    padding-left: 20px;
}

.contact-desc::before {
    content: "*";
    position: absolute;
    transform: translate(-120%, -10%);
}

.contact-post-desc {
    color: #ABAABB;
}

.contact-form {
    margin-left: auto;
    width: 640px;
}

.desc-form {
    color: var(--title-color);
    margin-bottom: 11px;
}

.contact-input {
    margin-bottom: 18px;
}

.contact-texarea {
    margin-bottom: 50px;
}

.contact-input,
.contact-texarea {
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
    border-radius: 8px;
}

.contact-form .btn-link {
    width: 100%;
}

.contact-wrap {
    display: flex;
    flex-shrink: 0;
}

/* social media */
.social-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.wrap-social {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.wrap-social .btn {
    margin-left: auto;
}

.social-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.media-item {
    flex-basis: calc((100% - 40px) / 5);
    box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.6);
    border-radius: 5px;
}

/* footer */
.footer {
    background: var(--title-color);
    padding: 80px 0;
    color: var(--second-bgc);
}

.footer-bgc {
    position: relative;
}

.footer-bgc::after {
    content: "";
    position: absolute;
    top: -110px;
    right: -100px;
    background-image: url(../img/background/spun-footer.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 450px;;
}

.footer a {
    color: inherit;
}

.footer .container {
    display: flex;
}

.footer-logo {
    margin-bottom: 38px;
}

.address {
    margin-bottom: 94px;
}

.address-item {
    display: block;
    font-style: normal;
}

.address-item:not(:last-child) {
    margin-bottom: 7px;
}

.footer-lists {
    display: flex;
    margin-left: auto;
    border-top: solid 2px var(--second-bgc);
    border-bottom: solid 2px var(--second-bgc);
    padding: 50px;
    width: 750px;
    /* height: 252px; */
}

.footer-item {
    width: 170px;
}

.footer-item:not(:last-of-type) {
    margin-bottom: 26px;
}