.slider .slick-track {
   display: flex;
   gap: 15px;
}

.slick-slide {
}

.slider .slick-list {
   @media screen and (min-width: 1200px) {
      overflow: hidden;
   }

   @media screen and (max-width: 768px) {
      width: calc(100% + 30px);
      margin: 0 auto;
      margin-left: -15px;
   }
}

.slider {
   position: relative;
   z-index: 1;
   margin-bottom: 20px;
}

.slider .slick-arrow {
   position: absolute;
   top: 20%;
   z-index: 22;
   font-size: 0;
   width: 90px;
   height: 90px;
   padding: 0;

   background-color: transparent;
   border: none;

   @media screen and (max-width:1200px) {
      display: none;
   }
}

.slider .slick-arrow.slick-prev {
   left: 0;
   transform: translateX(-100%);
   background-image: url(../img/prev.svg);
   background-size: contain;
}

.slider .slick-arrow.slick-next {
   right: 0;
   transform: translateX(100%);
   background-image: url(../img/next.svg);
   background-size: contain;
}

// Press
.slider-press .slick-track{
   display: flex;
   gap: 15px;
}

.slider-press .slick-list {
   overflow: hidden;
}

.press-list .slick-slide {
   // width: calc(50% / 2);
}

.slick-dots {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-top: 15px;
   list-style: none;
}

.slick-dots li.slick-active button{
   background-color: #777777; 
}

.slider-press .slick-dots button {
   border-radius: 50px;
   font-size: 0;
   width: 15px;
   height: 15px;
   border: none;
   background-color: #cacaca;
}