.page-header {
   padding-top: 10px;
   padding-bottom: 0px;
}

.header-logo {
   width: 110px;
   margin-right: 20px;
   @media screen and (min-width: 1200px) {
      width: 150px;
   }
}

.header-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.btn-menu {
   border: none;
   background-color: transparent;

   position: absolute;
   top: 0px;
   right: 0;
   z-index: 10;

   @media screen and (min-width: 768px) {
      display: none;
      right: 20%;
   }
}

.menu-open {
   border: none;
   background-color: transparent;

   @media screen and (min-width: 768px) {
      display: none;
      right: 20%;
   }
}

.nav {
   display: flex;
   align-items: center;
   gap: 20px;

   @media screen and (max-width: 767px) {
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 103vh;
      padding: 40px 40px 80px 40px;
      margin-top: -10px;
      background-color: #fff;
      background-image: url(../../img/background/in-numbers.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;

      transform: translatex(100vw);
      transition: transform 250ms ease-in-out;
   }
}

.link-wrap {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   text-align: center;
   @media screen and (max-width: 767px) {
      margin-bottom: 40px;
      width: 260px;
   }

   @media screen and (min-width: 1200px) {
      gap: 30px;
      margin-right: 50px;
   }
}

.nav-link {
   line-height: 1.4;
   color: var(--title-color);

   @media screen and (max-width: 768px) {
      width: calc((100% - 10px) / 2);
      font-size: 30px;
   }

   @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 30px) / 4);
   }
}

.nav.is-open {
   @media screen and (max-width: 767px) {
      transform: translatex(0);
   }
}

.open {
   opacity: 1;
}

.close {
   opacity: 0;
}

.nav.is-open + .menu-open .menu-icon .open {
   opacity: 0;
}

.nav.is-open ~ .menu-close .menu-icon .close {
   opacity: 1;
}

.menu-wrap {
}

.nav-btn {
   min-width: 110px;
}

.menu-icon {
   display: block;
   margin-left: auto;
   fill: var(--title-color);
   margin-bottom: 20px;
}
