.page-header {
    padding-top: 10px;
    padding-bottom: 0px;
}

.header-logo {
    width: 110px;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: none;
}

.menu-wrap {

}

.menu-icon {
    display: block;
    margin-left: auto;
    fill: var(--title-color);
    margin-bottom: 20px;
}