.logo-section {
   padding: 20px 0;
   background-color: var(--second-bgc);
   position: relative;
   z-index: -4;
}


.logo-lists {
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
   gap: 20px;

   @media screen and (min-width: 768px) {
      gap: 100px;
   }

   @media screen and (min-width: 1200px) {
      gap: 200px;
   }
}

.logo-item {
   width: calc((100% - 90px) / 4);

   @media screen and (min-width: 768px) {
      width: calc((100% - 300px) / 4);
   }

   @media screen and (min-width: 1200px) {
      width: calc((100% - 600px) / 4);
   }
}
