.price-lists {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.basic-item,
.pro-item {
   padding: 20px 15px;

   background: rgba(255, 255, 255, 0.6);
   border: 2px solid rgba(255, 255, 255, 0.4);
   box-shadow: 0px 4px 20px rgba(193, 193, 193, 0.3);
   border-radius: 10px;
}

.price-title {
   margin-bottom: 15px;

   font-size: 25px;
}

.price-befor {
    position: relative;
    padding-left: 30px;
   margin-bottom: 10px;
   font-size: 18px;
   display: flex;
   align-items: center;
   &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translatey(-50%);
      content: "";
      width: 20px;
      height: 20px;
      background-image: url(../../img/chek.svg);
      background-repeat: no-repeat;
      background-size: contain;
      flex-shrink: 1;
      flex-grow: -7;
   }
}

.coast {
   font-size: 18px;
   color: #abaabb;
}

.price-wrap {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.mouth {
   font-size: 40px;
}

.pro-item {
   position: relative;
}

.best-price {
   position: absolute;
   top: 15px;
   right: 15px;
   padding: 5px 15px;
   border-radius: 5px;

   background-color: var(--second-bgc);
}
