.team-section {
   overflow: hidden;
}

.wrap-team {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-bottom: 40px;
}

.team-btn-list {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.team-btn {
   min-width: 170px;
}

.team-btn-item {
   &:not(:last-of-type) {
      margin-bottom: 8px;
   }
}

.team-card {
   text-align: center;

   & img {
    margin-bottom: 16px;
   }
}

.title-card {
    margin-bottom: 12px;

   font-size: 20px;
   line-height: 1.1;

   text-align: center;
}
