.technologies-list {
   position: relative;
   top: 0;
   left: 0;

   &::before {
      content: "";
      width: 250px;
      height: 250px;
      position: absolute;
      top: -7%;
      left: 0;
      z-index: -1;

      background-image: url(../img/background/technologies-1.jpg);
      background-repeat: no-repeat;
      background-size: contain;

      @media screen and (min-width: 480px) {
         top: -4%;
         left: 45%;
      }

      @media screen and (min-width: 768px) {
         top: 12%;
         left: 40%;

         width: 300px;
         height: 300px;
      }

      @media screen and (min-width: 1200px) {
         top: 3%;
         left: -5%;
         width: 450px;
         height: 450px;
      }
   }

   &::after {
      content: "";
      width: 250px;
      height: 250px;
      position: absolute;
      top: 47%;
      left: 0;
      z-index: -1;

      background-image: url(../img/background/technologies-2.jpg);
      background-repeat: no-repeat;
      background-size: contain;

      @media screen and (min-width: 480px) {
         top: 43%;
         left: 46%;
      }

      @media screen and (min-width: 768px) {
         top: 65%;
         left: 0;
         width: 300px;
         height: 300px;
      }

      @media screen and (min-width: 1200px) {
         top: 63%;
         left: 60%;
         width: 350px;
         height: 350px;
      }
   }
}

.technologies-item {
   &:not(:last-child) {
      margin-bottom: 50px;
   }

   &:nth-child(2n + 1) {
      margin-bottom: 20px;
   }

   @media screen and (min-width: 1200px) {
      &:nth-child(even) {
         width: 60%;
      }

      &:nth-child(4n + 2) {
         margin-left: auto;
      }
   }
}

.technologies-title {
   font-size: 30px;

   @media screen and (min-width: 480px) {
      width: 480px;
   }
}

.technologies-title.right {
   @media screen and (min-width: 1200px) {
      text-align: end;
   }
}

.tech-second-title {
   font-size: 20px;
   margin-bottom: 15px;
}

.technologies-desc {
   margin-bottom: 15px;
}
